<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId})}" th:object="${user}">
  <label for="name">Enter Name</label>
  <input type="text" th:field="*{name}" id="name"/>
  <label for="lastname">Enter Lastame</label>
  <input type="text" th:field="*{lastname}" id="lastname"/>
  <br> <!-- пустая строка-->
  <input type="submit" value="Update!"/>


</form>
</body>
</html>