<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"> <!--//подключаем шаблонизтор timeleaf-->
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Action</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:utext="${user.getId}">Id</td>
        <td th:utext="${user.getName}">Name</td>
        <td th:utext="${user.getLastname}">Lastname</td>
        <td>
            <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
        </td>
        <td>
            <form action="/users">
                <button>Delete</button>
            </form>
        </td>
    </tr>
</table>
<br>
<form action="/users/new">
    <button>New User</button>
</form>

</body>
</html>