<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"> <!--//подключаем шаблонизтор timeleaf-->
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
        <!-- Создаем форму таймлив-->
  <form th:method="POST" th:action="@{/users}" th:object="${user}"> <!-- тут th:action это на какой адрес отправляем POST запрос из формы а th:object это обьект из модели-->
      <label for="name">Enter Name</label>  <!--label для input'а  for="name" - указываем id inputa  -->
      <input type="text" th:field="*{name}" id="name"/> <!--тут мы создаем input(edit) в html, th:field="*{name}" так передаем информ. к поле объекта th:object="${user}" -->
      <br> <!-- пустая строка-->
      <label for="lastname">Enter Lastname</label>  <!--label для input'а  for="name" - указываем id inputa  -->
      <input type="text" th:field="*{lastname}" id="lastname"/>
      <br>
      <input type="submit" value="Create"/>

  </form>


</body>
</html>